files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo mkdir /tmp/.{config,npm}

      sudo chown -R nodejs:nodejs /tmp/.config
      sudo chown -R nodejs:nodejs /tmp/.npm
