<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='icon' type='image/png' href='/favicon.ico'>

	<title>packd | server error</title>

	<style>
		body {
			font-family: arial;
		}

		h1 {
			font-size: 2em;
			text-transform: uppercase;
			text-shadow: 2px 2px white, -2px -2px white, -2px 2px white, 2px -2px white;
		}

		h1:first-letter {
			border: 0.1em solid black;
			padding: 0em 0.15em;
			margin-right: -0.3em;
		}

		a {
			color: black;
		}

		code {
			color: rgb(200,0,0);
			background: rgba(200,0,0,0.05);
			padding: 0.5em 1em;
			display: block;
		}
	</style>
</head>
<body>
	<h1>packd</h1>
	<h2>server error</h2>

	<p>Please <a href='https://github.com/Rich-Harris/packd/issues'>raise an issue</a>, quoting this URL.</p>

	<code>__ERROR__</code>
</body>
</html>